body {
    background: linear-gradient(to right, #6ef414, #0a1b01);
;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 100px;
}
body .stopwatchCard{
    justify-content: center;
    align-content : center;
    text-align: center;
    
    margin-top: auto;
    background-color: #e8f4f4;
    width : 40%;
    height : 300px;
    max-width : 400px;
    min-width : 300px;
    border-radius : 10pt;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);

}
.stopwatchScreen {
    -webkit-text-fill-color: #20f30d;
   

}
button {
    margin :10px;
    width: 60px;
    height: 60px;
    background-size: contain;       
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 60pt;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.9);
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.start {
    background-color : #13fa03;
}
.stop {
  background-color: #f44336;
  color: white;
}
.reset {
  background-color: #39df21;
  color: white;
}

/* Cool animation */
.fade-in {
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

