body {
  font-family: Arial, sans-serif;
  background: #aeaefa;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  background: #4ceef3;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  width: 400px;
}

.output-box {
  display: flex;
  margin: 20px 0;
}

#password {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.output-box button {
  padding: 10px;
  background-color: #090957;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  background-color: #07075c;
  color: white;
border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(12, 59, 244);
} 

.output-box button:hover {
  background-color: rgb(12, 59, 244);
}

a {
    display: block;
    color: #0056b3;
    font-size: 11px;
    margin-top: 10px;
}

h2{
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 5px;
    color: #0056b3;
}